<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/vehicle-registration' }">
        <app-i18n code="entities.vehicleRegistration.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n
          code="entities.vehicleRegistration.view.title"
        ></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.vehicleRegistration.view.title"
        ></app-i18n>
      </h1>

      <div
        class="app-page-spinner"
        v-if="loading"
        v-loading="loading"
      ></div>

      <app-vehicle-registration-view-toolbar
        v-if="record"
      ></app-vehicle-registration-view-toolbar>

      <el-form
        :label-position="labelPosition"
        :label-width="labelWidthForm"
        @submit.prevent.native
        class="form"
        v-if="record"
      >
        <app-view-item-text :label="fields.vehicleName.label" :value="presenter(record, 'vehicleName')"></app-view-item-text>

        <app-view-item-text :label="fields.typeOfVehicle.label" :value="presenter(record, 'typeOfVehicle')"></app-view-item-text>

        <app-view-item-text :label="fields.imei.label" :value="presenter(record, 'imei')"></app-view-item-text>

        <app-view-item-text :label="fields.contractor.label" :value="presenter(record, 'contractor')"></app-view-item-text>

        <app-view-item-text :label="fields.route.label" :value="presenter(record, 'route')"></app-view-item-text>

        <app-view-item-text :label="fields.scheme.label" :value="presenter(record, 'scheme')"></app-view-item-text>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import VehicleRegistrationViewToolbar from '@/modules/vehicle-registration/components/vehicle-registration-view-toolbar.vue';
import { VehicleRegistrationModel } from '@/modules/vehicle-registration/vehicle-registration-model';

const { fields } = VehicleRegistrationModel;

import Vue from 'vue';

export default Vue.extend({
  name: 'app-vehicle-registration-view-page',

  props: ['id'],

  components: {
    'app-vehicle-registration-view-toolbar': VehicleRegistrationViewToolbar,
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
      record: 'vehicleRegistration/view/record',
      loading: 'vehicleRegistration/view/loading',
    }),

    fields() {
      return fields;
    },
  },

  async created() {
    await this.doFind(this.id);
  },

  methods: {
    ...mapActions({
      doFind: 'vehicleRegistration/view/doFind',
    }),

    presenter(record, fieldName) {
      return VehicleRegistrationModel.presenter(record, fieldName);
    },
  },
});
</script>
