<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.vehicleRegistration.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.vehicleRegistration.list.title"
        ></app-i18n>
      </h1>

      <app-vehicle-registration-list-toolbar></app-vehicle-registration-list-toolbar>
      <app-vehicle-registration-list-filter></app-vehicle-registration-list-filter>
      <app-vehicle-registration-list-table></app-vehicle-registration-list-table>
    </div>
  </div>
</template>

<script lang="ts">
import VehicleRegistrationListFilter from '@/modules/vehicle-registration/components/vehicle-registration-list-filter.vue';
import VehicleRegistrationListTable from '@/modules/vehicle-registration/components/vehicle-registration-list-table.vue';
import VehicleRegistrationListToolbar from '@/modules/vehicle-registration/components/vehicle-registration-list-toolbar.vue';

import Vue from 'vue';
export default Vue.extend({
  name: 'app-vehicle-registration-list-page',

  components: {
    'app-vehicle-registration-list-filter': VehicleRegistrationListFilter,
    'app-vehicle-registration-list-table': VehicleRegistrationListTable,
    'app-vehicle-registration-list-toolbar': VehicleRegistrationListToolbar,
  },
});
</script>

<style></style>
