<template>
  <el-form
    :label-position="labelPosition"
    :label-width="labelWidthFilter"
    :model="model"
    :rules="rules"
    @submit.native.prevent="doFilter"
    class="filter"
    ref="form" 
  >
    <el-row type="flex">
      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.scheduleidRange.label"
          :prop="fields.scheduleidRange.name"
        >
          <app-number-range-input v-model="model[fields.scheduleidRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.activityCode.label" :prop="fields.activityCode.name">
          <el-input v-model="model[fields.activityCode.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.collectionIdRange.label"
          :prop="fields.collectionIdRange.name"
        >
          <app-number-range-input v-model="model[fields.collectionIdRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.contractorName.label" :prop="fields.contractorName.name">
          <el-input v-model="model[fields.contractorName.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.dateRange.label" :prop="fields.dateRange.name">
          <el-date-picker type="daterange" v-model="model[fields.dateRange.name]"></el-date-picker>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.frequency.label" :prop="fields.frequency.name">
          <el-input v-model="model[fields.frequency.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.location.label" :prop="fields.location.name">
          <el-input v-model="model[fields.location.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.mainRoute.label" :prop="fields.mainRoute.name">
          <el-input v-model="model[fields.mainRoute.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.parkIdRange.label"
          :prop="fields.parkIdRange.name"
        >
          <app-number-range-input v-model="model[fields.parkIdRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.parkName.label" :prop="fields.parkName.name">
          <el-input v-model="model[fields.parkName.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.pbt.label" :prop="fields.pbt.name">
          <el-input v-model="model[fields.pbt.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.pbtIdRange.label"
          :prop="fields.pbtIdRange.name"
        >
          <app-number-range-input v-model="model[fields.pbtIdRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.premiseType.label" :prop="fields.premiseType.name">
          <el-input v-model="model[fields.premiseType.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.qtyPremisRange.label"
          :prop="fields.qtyPremisRange.name"
        >
          <app-number-range-input v-model="model[fields.qtyPremisRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.qtyTongRange.label"
          :prop="fields.qtyTongRange.name"
        >
          <app-number-range-input v-model="model[fields.qtyTongRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.route.label" :prop="fields.route.name">
          <el-input v-model="model[fields.route.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.scheduledatacol.label" :prop="fields.scheduledatacol.name">
          <el-input v-model="model[fields.scheduledatacol.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.schemeIdRange.label"
          :prop="fields.schemeIdRange.name"
        >
          <app-number-range-input v-model="model[fields.schemeIdRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.schemeName.label" :prop="fields.schemeName.name">
          <el-input v-model="model[fields.schemeName.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.ssmNumberRange.label"
          :prop="fields.ssmNumberRange.name"
        >
          <app-number-range-input v-model="model[fields.ssmNumberRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item
          :label="fields.streetIdRange.label"
          :prop="fields.streetIdRange.name"
        >
          <app-number-range-input v-model="model[fields.streetIdRange.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.streetName.label" :prop="fields.streetName.name">
          <el-input v-model="model[fields.streetName.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.timeEnd.label" :prop="fields.timeEnd.name">
          <el-input v-model="model[fields.timeEnd.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.timeStart.label" :prop="fields.timeStart.name">
          <el-input v-model="model[fields.timeStart.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.tongType.label" :prop="fields.tongType.name">
          <el-input v-model="model[fields.tongType.name]"/>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.vehicleNo.label" :prop="fields.vehicleNo.name">
          <el-input v-model="model[fields.vehicleNo.name]"/>
        </el-form-item>
      </el-col>
    </el-row>

    <div class="filter-buttons">
      <el-button
        :disabled="loading"
        @click="doFilter"
        icon="el-icon-fa-search"
        type="primary"
      >
        <app-i18n code="common.search"></app-i18n>
      </el-button>

      <el-button
        :disabled="loading"
        @click="doResetFilter"
        icon="el-icon-fa-undo"
      >
        <app-i18n code="common.reset"></app-i18n>
      </el-button>
    </div>
  </el-form>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import { FilterSchema } from '@/shared/form/filter-schema';
import { IjadualModel } from '@/modules/ijadual/ijadual-model';

const { fields } = IjadualModel;

const filterSchema = new FilterSchema([
  fields.scheduleidRange,
  fields.activityCode,
  fields.collectionIdRange,
  fields.contractorName,
  fields.dateRange,
  fields.frequency,
  fields.location,
  fields.mainRoute,
  fields.parkIdRange,
  fields.parkName,
  fields.pbt,
  fields.pbtIdRange,
  fields.premiseType,
  fields.qtyPremisRange,
  fields.qtyTongRange,
  fields.route,
  fields.scheduledatacol,
  fields.schemeIdRange,
  fields.schemeName,
  fields.ssmNumberRange,
  fields.streetIdRange,
  fields.streetName,
  fields.timeEnd,
  fields.timeStart,
  fields.tongType,
  fields.vehicleNo,
]);

import Vue from 'vue';
export default Vue.extend({
  name: 'app-ijadual-list-filter',

  data() {
    return {
      rules: filterSchema.rules(),
      model: {},
    };
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthFilter: 'layout/labelWidthFilter',
      loading: 'ijadual/list/loading',
      filter: 'ijadual/list/filter',
    }),

    fields() {
      return fields;
    },
  },

  async mounted() {
    this.model = filterSchema.initialValues(
      this.filter,
      this.$route.query,
    );

    return this.doFilter();
  },

  methods: {
    ...mapActions({
      doReset: 'ijadual/list/doReset',
      doFetch: 'ijadual/list/doFetch',
    }),

    async doResetFilter() {
      this.model = filterSchema.initialValues();
      this.$refs.form.clearValidate();
      return this.doReset();
    },

    async doFilter() {
      try {
        await this.$refs.form.validate();
        this.$refs.form.clearValidate();
      } catch (error) {
        return;
      }

      const filter = filterSchema.cast(this.model);
      return this.doFetch({
        filter,
      });
    },
  },
});
</script>

<style></style>