<template>
  <div>
    <el-table
      :border="true"
      :data="rows"
      @sort-change="doChangeSort"
      ref="table"
      row-key="id"
      v-loading="loading"
    >
      <el-table-column
        type="selection"
        width="55"
      ></el-table-column>

      <el-table-column
        :label="fields.scheduleid.label"
        :prop="fields.scheduleid.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'scheduleid') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.activityCode.label"
        :prop="fields.activityCode.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'activityCode') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.collectionId.label"
        :prop="fields.collectionId.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'collectionId') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.contractorName.label"
        :prop="fields.contractorName.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'contractorName') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.date.label"
        :prop="fields.date.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'date') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.frequency.label"
        :prop="fields.frequency.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'frequency') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.location.label"
        :prop="fields.location.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'location') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.mainRoute.label"
        :prop="fields.mainRoute.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'mainRoute') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.parkId.label"
        :prop="fields.parkId.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'parkId') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.parkName.label"
        :prop="fields.parkName.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'parkName') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.pbt.label"
        :prop="fields.pbt.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'pbt') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.pbtId.label"
        :prop="fields.pbtId.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'pbtId') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.premiseType.label"
        :prop="fields.premiseType.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'premiseType') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.qtyPremis.label"
        :prop="fields.qtyPremis.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'qtyPremis') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.qtyTong.label"
        :prop="fields.qtyTong.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'qtyTong') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.route.label"
        :prop="fields.route.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'route') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.scheduledatacol.label"
        :prop="fields.scheduledatacol.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'scheduledatacol') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.schemeId.label"
        :prop="fields.schemeId.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'schemeId') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.schemeName.label"
        :prop="fields.schemeName.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'schemeName') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.ssmNumber.label"
        :prop="fields.ssmNumber.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'ssmNumber') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.streetId.label"
        :prop="fields.streetId.name"
        sortable="custom"
        align="right"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'streetId') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.streetName.label"
        :prop="fields.streetName.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'streetName') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.timeEnd.label"
        :prop="fields.timeEnd.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'timeEnd') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.timeStart.label"
        :prop="fields.timeStart.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'timeStart') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.tongType.label"
        :prop="fields.tongType.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'tongType') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.vehicleNo.label"
        :prop="fields.vehicleNo.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'vehicleNo') }}</template>
      </el-table-column>

      <el-table-column
        :fixed="isMobile ? undefined : 'right'"
        align="center"
        width="180"
      >
        <template slot-scope="scope">
          <div class="table-actions">
            <router-link :to="`/ijadual/${scope.row.id}`">
              <el-button type="text">
                <app-i18n code="common.view"></app-i18n>
              </el-button>
            </router-link>

            <router-link
              :to="`/ijadual/${scope.row.id}/edit`"
              v-if="hasPermissionToEdit"
            >
              <el-button type="text">
                <app-i18n code="common.edit"></app-i18n>
              </el-button>
            </router-link>

            <el-button
              :disabled="destroyLoading"
              @click="doDestroyWithConfirm(scope.row.id)"
              type="text"
              v-if="hasPermissionToDestroy"
            >
              <app-i18n code="common.destroy"></app-i18n>
            </el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <div class="el-pagination-wrapper">
      <el-pagination
        :current-page="pagination.currentPage || 1"
        :disabled="loading"
        :layout="paginationLayout"
        :total="count"
        @current-change="doChangePaginationCurrentPage"
        @size-change="doChangePaginationPageSize"
      ></el-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import { IjadualModel } from '@/modules/ijadual/ijadual-model';
import { mapGetters, mapActions } from 'vuex';
import { IjadualPermissions } from '@/modules/ijadual/ijadual-permissions';
import { i18n } from '@/i18n';

const { fields } = IjadualModel;

import Vue from 'vue';
export default Vue.extend({
  name: 'app-ijadual-list-table',

  mounted() {
    this.doMountTable(this.$refs.table);
  },

  computed: {
    ...mapGetters({
      rows: 'ijadual/list/rows',
      count: 'ijadual/list/count',
      loading: 'ijadual/list/loading',
      pagination: 'ijadual/list/pagination',
      isMobile: 'layout/isMobile',
      currentUser: 'auth/currentUser',
      currentTenant: 'auth/currentTenant',
      destroyLoading: 'ijadual/destroy/loading',
      paginationLayout: 'layout/paginationLayout',
    }),

    hasPermissionToEdit() {
      return new IjadualPermissions(
        this.currentTenant,
        this.currentUser,
      ).edit;
    },

    hasPermissionToDestroy() {
      return new IjadualPermissions(
        this.currentTenant,
        this.currentUser,
      ).destroy;
    },

    fields() {
      return fields;
    },
  },

  methods: {
    ...mapActions({
      doChangeSort: 'ijadual/list/doChangeSort',
      doChangePaginationCurrentPage:
        'ijadual/list/doChangePaginationCurrentPage',
      doChangePaginationPageSize:
        'ijadual/list/doChangePaginationPageSize',
      doMountTable: 'ijadual/list/doMountTable',
      doDestroy: 'ijadual/destroy/doDestroy',
    }),

    presenter(row, fieldName) {
      return IjadualModel.presenter(row, fieldName);
    },

    async doDestroyWithConfirm(id) {
      try {
        await this.$confirm(
          i18n('common.areYouSure'),
          i18n('common.confirm'),
          {
            confirmButtonText: i18n('common.yes'),
            cancelButtonText: i18n('common.no'),
            type: 'warning',
          },
        );

        return this.doDestroy(id);
      } catch (error) {
        // no
      }
    },
  },
});
</script>

<style></style>
