<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.ijadual.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.ijadual.list.title"
        ></app-i18n>
      </h1>

      <app-ijadual-list-toolbar></app-ijadual-list-toolbar>
      <app-ijadual-list-filter></app-ijadual-list-filter>
      <app-ijadual-list-table></app-ijadual-list-table>
    </div>
  </div>
</template>

<script lang="ts">
import IjadualListFilter from '@/modules/ijadual/components/ijadual-list-filter.vue';
import IjadualListTable from '@/modules/ijadual/components/ijadual-list-table.vue';
import IjadualListToolbar from '@/modules/ijadual/components/ijadual-list-toolbar.vue';

import Vue from 'vue';
export default Vue.extend({
  name: 'app-ijadual-list-page',

  components: {
    'app-ijadual-list-filter': IjadualListFilter,
    'app-ijadual-list-table': IjadualListTable,
    'app-ijadual-list-toolbar': IjadualListToolbar,
  },
});
</script>

<style></style>
