<template>
  <div>
    <el-form
      :label-position="labelPosition"
      :label-width="labelWidthForm"
      :model="model"
      :rules="rules"
      @submit.native.prevent="doSubmit"
      class="form"
      ref="form"
      v-if="model"
    >
      <el-form-item
        :label="fields.scheduleid.label"
        :prop="fields.scheduleid.name"
        :required="fields.scheduleid.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.scheduleid.name]" ref="focus" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.activityCode.label"
        :prop="fields.activityCode.name"
        :required="fields.activityCode.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.activityCode.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.collectionId.label"
        :prop="fields.collectionId.name"
        :required="fields.collectionId.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.collectionId.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.contractorName.label"
        :prop="fields.contractorName.name"
        :required="fields.contractorName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.contractorName.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.date.label"
        :prop="fields.date.name"
        :required="fields.date.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-date-picker placeholder type="date" v-model="model[fields.date.name]"></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.frequency.label"
        :prop="fields.frequency.name"
        :required="fields.frequency.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.frequency.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.location.label"
        :prop="fields.location.name"
        :required="fields.location.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.location.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.mainRoute.label"
        :prop="fields.mainRoute.name"
        :required="fields.mainRoute.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.mainRoute.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.parkId.label"
        :prop="fields.parkId.name"
        :required="fields.parkId.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.parkId.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.parkName.label"
        :prop="fields.parkName.name"
        :required="fields.parkName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.parkName.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.pbt.label"
        :prop="fields.pbt.name"
        :required="fields.pbt.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.pbt.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.pbtId.label"
        :prop="fields.pbtId.name"
        :required="fields.pbtId.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.pbtId.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.premiseType.label"
        :prop="fields.premiseType.name"
        :required="fields.premiseType.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.premiseType.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.qtyPremis.label"
        :prop="fields.qtyPremis.name"
        :required="fields.qtyPremis.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.qtyPremis.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.qtyTong.label"
        :prop="fields.qtyTong.name"
        :required="fields.qtyTong.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.qtyTong.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.route.label"
        :prop="fields.route.name"
        :required="fields.route.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.route.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.scheduledatacol.label"
        :prop="fields.scheduledatacol.name"
        :required="fields.scheduledatacol.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.scheduledatacol.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.schemeId.label"
        :prop="fields.schemeId.name"
        :required="fields.schemeId.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.schemeId.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.schemeName.label"
        :prop="fields.schemeName.name"
        :required="fields.schemeName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.schemeName.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.ssmNumber.label"
        :prop="fields.ssmNumber.name"
        :required="fields.ssmNumber.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.ssmNumber.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.streetId.label"
        :prop="fields.streetId.name"
        :required="fields.streetId.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input-number :precision="0" :step="1" v-model="model[fields.streetId.name]" ></el-input-number>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.streetName.label"
        :prop="fields.streetName.name"
        :required="fields.streetName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.streetName.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.timeEnd.label"
        :prop="fields.timeEnd.name"
        :required="fields.timeEnd.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.timeEnd.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.timeStart.label"
        :prop="fields.timeStart.name"
        :required="fields.timeStart.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.timeStart.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.tongType.label"
        :prop="fields.tongType.name"
        :required="fields.tongType.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.tongType.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.vehicleNo.label"
        :prop="fields.vehicleNo.name"
        :required="fields.vehicleNo.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.vehicleNo.name]" />
        </el-col>
      </el-form-item>

      <el-form-item>
        <div class="form-buttons">
          <el-button
            :disabled="saveLoading"
            @click="doSubmit"
            icon="el-icon-fa-floppy-o"
            type="primary"
          >
            <app-i18n code="common.save"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doReset"
            icon="el-icon-fa-undo"
          >
            <app-i18n code="common.reset"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doCancel"
            icon="el-icon-fa-close"
          >
            <app-i18n code="common.cancel"></app-i18n>
          </el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';
import { FormSchema } from '@/shared/form/form-schema';
import { IjadualModel } from '@/modules/ijadual/ijadual-model';

const { fields } = IjadualModel;
const formSchema = new FormSchema([
  fields.scheduleid,
  fields.activityCode,
  fields.collectionId,
  fields.contractorName,
  fields.date,
  fields.frequency,
  fields.location,
  fields.mainRoute,
  fields.parkId,
  fields.parkName,
  fields.pbt,
  fields.pbtId,
  fields.premiseType,
  fields.qtyPremis,
  fields.qtyTong,
  fields.route,
  fields.scheduledatacol,
  fields.schemeId,
  fields.schemeName,
  fields.ssmNumber,
  fields.streetId,
  fields.streetName,
  fields.timeEnd,
  fields.timeStart,
  fields.tongType,
  fields.vehicleNo,
]);

import Vue from 'vue';
export default Vue.extend({
  name: 'app-ijadual-form',

  props: ['isEditing', 'record', 'saveLoading', 'modal'],

  data() {
    return {
      rules: formSchema.rules(),
      model: null,
    };
  },

  created() {
    this.model = formSchema.initialValues(
      this.record || {},
    );
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
    }),

    fields() {
      return fields;
    },
  },

  methods: {
    doReset() {
      this.model = formSchema.initialValues(this.record);
    },

    doCancel() {
      this.$emit('cancel');
    },

    async doSubmit() {
      try {
        await this.$refs.form.validate();
      } catch (error) {
        return;
      }

      return this.$emit('submit', {
        id: this.record && this.record.id,
        values: formSchema.cast(this.model),
      });
    },
  },
});
</script>

<style></style>
