<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/ijadual' }">
        <app-i18n code="entities.ijadual.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n
          code="entities.ijadual.edit.title"
          v-if="isEditing"
        ></app-i18n>
        <app-i18n
          code="entities.ijadual.new.title"
          v-if="!isEditing"
        ></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.ijadual.edit.title"
          v-if="isEditing"
        ></app-i18n>
        <app-i18n
          code="entities.ijadual.new.title"
          v-if="!isEditing"
        ></app-i18n>
      </h1>

      <div
        class="app-page-spinner"
        v-if="initLoading"
        v-loading="initLoading"
      ></div>

      <app-ijadual-form
        :isEditing="isEditing"
        :record="record"
        :saveLoading="saveLoading"
        @cancel="doCancel"
        @submit="doSubmit"
        v-if="!initLoading"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import IjadualForm from '@/modules/ijadual/components/ijadual-form.vue';
import { routerAsync } from '@/app-module';

import Vue from 'vue';
export default Vue.extend({
  name: 'app-ijadual-form-page',

  props: ['id'],

  components: {
    'app-ijadual-form': IjadualForm,
  },

  computed: {
    ...mapGetters({
      record: 'ijadual/form/record',
      initLoading: 'ijadual/form/initLoading',
      saveLoading: 'ijadual/form/saveLoading',
    }),

    isEditing() {
      return Boolean(this.id);
    },
  },

  async created() {
    await this.doInit(this.id);
  },

  methods: {
    ...mapActions({
      doInit: 'ijadual/form/doInit',
      doUpdate: 'ijadual/form/doUpdate',
      doCreate: 'ijadual/form/doCreate',
    }),

    doCancel() {
      routerAsync().push('/ijadual');
    },

    async doSubmit(payload) {
      if (this.isEditing) {
        return this.doUpdate(payload);
      } else {
        return this.doCreate(payload.values);
      }
    },
  },
});
</script>

<style></style>
