<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/ijadual' }">
        <app-i18n code="entities.ijadual.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n
          code="entities.ijadual.view.title"
        ></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.ijadual.view.title"
        ></app-i18n>
      </h1>

      <div
        class="app-page-spinner"
        v-if="loading"
        v-loading="loading"
      ></div>

      <app-ijadual-view-toolbar
        v-if="record"
      ></app-ijadual-view-toolbar>

      <el-form
        :label-position="labelPosition"
        :label-width="labelWidthForm"
        @submit.prevent.native
        class="form"
        v-if="record"
      >
        <app-view-item-text :label="fields.scheduleid.label" :value="presenter(record, 'scheduleid')"></app-view-item-text>

        <app-view-item-text :label="fields.activityCode.label" :value="presenter(record, 'activityCode')"></app-view-item-text>

        <app-view-item-text :label="fields.collectionId.label" :value="presenter(record, 'collectionId')"></app-view-item-text>

        <app-view-item-text :label="fields.contractorName.label" :value="presenter(record, 'contractorName')"></app-view-item-text>

        <app-view-item-text :label="fields.date.label" :value="presenter(record, 'date')"></app-view-item-text>

        <app-view-item-text :label="fields.frequency.label" :value="presenter(record, 'frequency')"></app-view-item-text>

        <app-view-item-text :label="fields.location.label" :value="presenter(record, 'location')"></app-view-item-text>

        <app-view-item-text :label="fields.mainRoute.label" :value="presenter(record, 'mainRoute')"></app-view-item-text>

        <app-view-item-text :label="fields.parkId.label" :value="presenter(record, 'parkId')"></app-view-item-text>

        <app-view-item-text :label="fields.parkName.label" :value="presenter(record, 'parkName')"></app-view-item-text>

        <app-view-item-text :label="fields.pbt.label" :value="presenter(record, 'pbt')"></app-view-item-text>

        <app-view-item-text :label="fields.pbtId.label" :value="presenter(record, 'pbtId')"></app-view-item-text>

        <app-view-item-text :label="fields.premiseType.label" :value="presenter(record, 'premiseType')"></app-view-item-text>

        <app-view-item-text :label="fields.qtyPremis.label" :value="presenter(record, 'qtyPremis')"></app-view-item-text>

        <app-view-item-text :label="fields.qtyTong.label" :value="presenter(record, 'qtyTong')"></app-view-item-text>

        <app-view-item-text :label="fields.route.label" :value="presenter(record, 'route')"></app-view-item-text>

        <app-view-item-text :label="fields.scheduledatacol.label" :value="presenter(record, 'scheduledatacol')"></app-view-item-text>

        <app-view-item-text :label="fields.schemeId.label" :value="presenter(record, 'schemeId')"></app-view-item-text>

        <app-view-item-text :label="fields.schemeName.label" :value="presenter(record, 'schemeName')"></app-view-item-text>

        <app-view-item-text :label="fields.ssmNumber.label" :value="presenter(record, 'ssmNumber')"></app-view-item-text>

        <app-view-item-text :label="fields.streetId.label" :value="presenter(record, 'streetId')"></app-view-item-text>

        <app-view-item-text :label="fields.streetName.label" :value="presenter(record, 'streetName')"></app-view-item-text>

        <app-view-item-text :label="fields.timeEnd.label" :value="presenter(record, 'timeEnd')"></app-view-item-text>

        <app-view-item-text :label="fields.timeStart.label" :value="presenter(record, 'timeStart')"></app-view-item-text>

        <app-view-item-text :label="fields.tongType.label" :value="presenter(record, 'tongType')"></app-view-item-text>

        <app-view-item-text :label="fields.vehicleNo.label" :value="presenter(record, 'vehicleNo')"></app-view-item-text>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import IjadualViewToolbar from '@/modules/ijadual/components/ijadual-view-toolbar.vue';
import { IjadualModel } from '@/modules/ijadual/ijadual-model';

const { fields } = IjadualModel;

import Vue from 'vue';

export default Vue.extend({
  name: 'app-ijadual-view-page',

  props: ['id'],

  components: {
    'app-ijadual-view-toolbar': IjadualViewToolbar,
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
      record: 'ijadual/view/record',
      loading: 'ijadual/view/loading',
    }),

    fields() {
      return fields;
    },
  },

  async created() {
    await this.doFind(this.id);
  },

  methods: {
    ...mapActions({
      doFind: 'ijadual/view/doFind',
    }),

    presenter(record, fieldName) {
      return IjadualModel.presenter(record, fieldName);
    },
  },
});
</script>
