<template>
  <div>
    <el-table
      :border="true"
      :data="rows"
      @sort-change="doChangeSort"
      ref="table"
      row-key="id"
      v-loading="loading"
    >
      <el-table-column
        type="selection"
        width="55"
      ></el-table-column>

      <el-table-column
        :label="fields.companyName.label"
        :prop="fields.companyName.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'companyName') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.sSMNumber.label"
        :prop="fields.sSMNumber.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'sSMNumber') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.photos.label"
        :prop="fields.photos.name"
        align="center"
      >
        <template slot-scope="scope">
          <app-list-item-image :value="presenter(scope.row, 'photos')"></app-list-item-image>
        </template>
      </el-table-column>

      <el-table-column
        :label="fields.emailPIC.label"
        :prop="fields.emailPIC.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'emailPIC') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.address.label"
        :prop="fields.address.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'address') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.depoh.label"
        :prop="fields.depoh.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'depoh') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.scheme.label"
        :prop="fields.scheme.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'scheme') }}</template>
      </el-table-column>

      <el-table-column
        :fixed="isMobile ? undefined : 'right'"
        align="center"
        width="180"
      >
        <template slot-scope="scope">
          <div class="table-actions">
            <router-link :to="`/company/${scope.row.id}`">
              <el-button type="text">
                <app-i18n code="common.view"></app-i18n>
              </el-button>
            </router-link>

            <router-link
              :to="`/company/${scope.row.id}/edit`"
              v-if="hasPermissionToEdit"
            >
              <el-button type="text">
                <app-i18n code="common.edit"></app-i18n>
              </el-button>
            </router-link>

            <el-button
              :disabled="destroyLoading"
              @click="doDestroyWithConfirm(scope.row.id)"
              type="text"
              v-if="hasPermissionToDestroy"
            >
              <app-i18n code="common.destroy"></app-i18n>
            </el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <div class="el-pagination-wrapper">
      <el-pagination
        :current-page="pagination.currentPage || 1"
        :disabled="loading"
        :layout="paginationLayout"
        :total="count"
        @current-change="doChangePaginationCurrentPage"
        @size-change="doChangePaginationPageSize"
      ></el-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import { CompanyModel } from '@/modules/company/company-model';
import { mapGetters, mapActions } from 'vuex';
import { CompanyPermissions } from '@/modules/company/company-permissions';
import { i18n } from '@/i18n';

const { fields } = CompanyModel;

import Vue from 'vue';
export default Vue.extend({
  name: 'app-company-list-table',

  mounted() {
    this.doMountTable(this.$refs.table);
  },

  computed: {
    ...mapGetters({
      rows: 'company/list/rows',
      count: 'company/list/count',
      loading: 'company/list/loading',
      pagination: 'company/list/pagination',
      isMobile: 'layout/isMobile',
      currentUser: 'auth/currentUser',
      currentTenant: 'auth/currentTenant',
      destroyLoading: 'company/destroy/loading',
      paginationLayout: 'layout/paginationLayout',
    }),

    hasPermissionToEdit() {
      return new CompanyPermissions(
        this.currentTenant,
        this.currentUser,
      ).edit;
    },

    hasPermissionToDestroy() {
      return new CompanyPermissions(
        this.currentTenant,
        this.currentUser,
      ).destroy;
    },

    fields() {
      return fields;
    },
  },

  methods: {
    ...mapActions({
      doChangeSort: 'company/list/doChangeSort',
      doChangePaginationCurrentPage:
        'company/list/doChangePaginationCurrentPage',
      doChangePaginationPageSize:
        'company/list/doChangePaginationPageSize',
      doMountTable: 'company/list/doMountTable',
      doDestroy: 'company/destroy/doDestroy',
    }),

    presenter(row, fieldName) {
      return CompanyModel.presenter(row, fieldName);
    },

    async doDestroyWithConfirm(id) {
      try {
        await this.$confirm(
          i18n('common.areYouSure'),
          i18n('common.confirm'),
          {
            confirmButtonText: i18n('common.yes'),
            cancelButtonText: i18n('common.no'),
            type: 'warning',
          },
        );

        return this.doDestroy(id);
      } catch (error) {
        // no
      }
    },
  },
});
</script>

<style></style>
