<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.company.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.company.list.title"
        ></app-i18n>
      </h1>

      <app-company-list-toolbar></app-company-list-toolbar>
      <app-company-list-filter></app-company-list-filter>
      <app-company-list-table></app-company-list-table>
    </div>
  </div>
</template>

<script lang="ts">
import CompanyListFilter from '@/modules/company/components/company-list-filter.vue';
import CompanyListTable from '@/modules/company/components/company-list-table.vue';
import CompanyListToolbar from '@/modules/company/components/company-list-toolbar.vue';

import Vue from 'vue';
export default Vue.extend({
  name: 'app-company-list-page',

  components: {
    'app-company-list-filter': CompanyListFilter,
    'app-company-list-table': CompanyListTable,
    'app-company-list-toolbar': CompanyListToolbar,
  },
});
</script>

<style></style>
