<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/company' }">
        <app-i18n code="entities.company.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n
          code="entities.company.view.title"
        ></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.company.view.title"
        ></app-i18n>
      </h1>

      <div
        class="app-page-spinner"
        v-if="loading"
        v-loading="loading"
      ></div>

      <app-company-view-toolbar
        v-if="record"
      ></app-company-view-toolbar>

      <el-form
        :label-position="labelPosition"
        :label-width="labelWidthForm"
        @submit.prevent.native
        class="form"
        v-if="record"
      >
        <app-view-item-text :label="fields.companyName.label" :value="presenter(record, 'companyName')"></app-view-item-text>

        <app-view-item-text :label="fields.sSMNumber.label" :value="presenter(record, 'sSMNumber')"></app-view-item-text>

        <app-view-item-image :label="fields.photos.label" :value="presenter(record, 'photos')"></app-view-item-image>

        <app-view-item-text :label="fields.emailPIC.label" :value="presenter(record, 'emailPIC')"></app-view-item-text>

        <app-view-item-text :label="fields.address.label" :value="presenter(record, 'address')"></app-view-item-text>

        <app-view-item-text :label="fields.depoh.label" :value="presenter(record, 'depoh')"></app-view-item-text>

        <app-view-item-text :label="fields.scheme.label" :value="presenter(record, 'scheme')"></app-view-item-text>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import CompanyViewToolbar from '@/modules/company/components/company-view-toolbar.vue';
import { CompanyModel } from '@/modules/company/company-model';

const { fields } = CompanyModel;

import Vue from 'vue';

export default Vue.extend({
  name: 'app-company-view-page',

  props: ['id'],

  components: {
    'app-company-view-toolbar': CompanyViewToolbar,
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
      record: 'company/view/record',
      loading: 'company/view/loading',
    }),

    fields() {
      return fields;
    },
  },

  async created() {
    await this.doFind(this.id);
  },

  methods: {
    ...mapActions({
      doFind: 'company/view/doFind',
    }),

    presenter(record, fieldName) {
      return CompanyModel.presenter(record, fieldName);
    },
  },
});
</script>
