<template>
  <div>
    <el-form
      :label-position="labelPosition"
      :label-width="labelWidthForm"
      :model="model"
      :rules="rules"
      @submit.native.prevent="doSubmit"
      class="form"
      ref="form"
      v-if="model"
    >
      <el-form-item
        :label="fields.companyName.label"
        :prop="fields.companyName.name"
        :required="fields.companyName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.companyName.name]" ref="focus" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.sSMNumber.label"
        :prop="fields.sSMNumber.name"
        :required="fields.sSMNumber.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input :rows="4" type="textarea" v-model="model[fields.sSMNumber.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.photos.label"
        :prop="fields.photos.name"
        :required="fields.photos.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <app-image-upload
            :max="fields.photos.max"
            :storage="fields.photos.storage"      
            v-model="model[fields.photos.name]"
          ></app-image-upload>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.emailPIC.label"
        :prop="fields.emailPIC.name"
        :required="fields.emailPIC.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.emailPIC.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.address.label"
        :prop="fields.address.name"
        :required="fields.address.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.address.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.depoh.label"
        :prop="fields.depoh.name"
        :required="fields.depoh.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.depoh.name]" />
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.scheme.label"
        :prop="fields.scheme.name"
        :required="fields.scheme.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-input v-model="model[fields.scheme.name]" />
        </el-col>
      </el-form-item>

      <el-form-item>
        <div class="form-buttons">
          <el-button
            :disabled="saveLoading"
            @click="doSubmit"
            icon="el-icon-fa-floppy-o"
            type="primary"
          >
            <app-i18n code="common.save"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doReset"
            icon="el-icon-fa-undo"
          >
            <app-i18n code="common.reset"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doCancel"
            icon="el-icon-fa-close"
          >
            <app-i18n code="common.cancel"></app-i18n>
          </el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';
import { FormSchema } from '@/shared/form/form-schema';
import { CompanyModel } from '@/modules/company/company-model';

const { fields } = CompanyModel;
const formSchema = new FormSchema([
  fields.companyName,
  fields.sSMNumber,
  fields.photos,
  fields.emailPIC,
  fields.address,
  fields.depoh,
  fields.scheme,
]);

import Vue from 'vue';
export default Vue.extend({
  name: 'app-company-form',

  props: ['isEditing', 'record', 'saveLoading', 'modal'],

  data() {
    return {
      rules: formSchema.rules(),
      model: null,
    };
  },

  created() {
    this.model = formSchema.initialValues(
      this.record || {},
    );
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
    }),

    fields() {
      return fields;
    },
  },

  methods: {
    doReset() {
      this.model = formSchema.initialValues(this.record);
    },

    doCancel() {
      this.$emit('cancel');
    },

    async doSubmit() {
      try {
        await this.$refs.form.validate();
      } catch (error) {
        return;
      }

      return this.$emit('submit', {
        id: this.record && this.record.id,
        values: formSchema.cast(this.model),
      });
    },
  },
});
</script>

<style></style>
