<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/backup-vehicle' }">
        <app-i18n code="entities.backupVehicle.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n
          code="entities.backupVehicle.view.title"
        ></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.backupVehicle.view.title"
        ></app-i18n>
      </h1>

      <div
        class="app-page-spinner"
        v-if="loading"
        v-loading="loading"
      ></div>

      <app-backup-vehicle-view-toolbar
        v-if="record"
      ></app-backup-vehicle-view-toolbar>

      <el-form
        :label-position="labelPosition"
        :label-width="labelWidthForm"
        @submit.prevent.native
        class="form"
        v-if="record"
      >
        <app-view-item-relation-to-one
          :label="fields.currentVehicleName.label"
          :permission="fields.currentVehicleName.readPermission"
          :url="fields.currentVehicleName.viewUrl"
          :value="presenter(record, 'currentVehicleName')"
        ></app-view-item-relation-to-one>

        <app-view-item-relation-to-one
          :label="fields.newVehicle.label"
          :permission="fields.newVehicle.readPermission"
          :url="fields.newVehicle.viewUrl"
          :value="presenter(record, 'newVehicle')"
        ></app-view-item-relation-to-one>

        <app-view-item-text :label="fields.dateBackupStart.label" :value="presenter(record, 'dateBackupStart')"></app-view-item-text>

        <app-view-item-text :label="fields.dateBackupEnd.label" :value="presenter(record, 'dateBackupEnd')"></app-view-item-text>

        <app-view-item-text :label="fields.route.label" :value="presenter(record, 'route')"></app-view-item-text>

        <app-view-item-text :label="fields.scheme.label" :value="presenter(record, 'scheme')"></app-view-item-text>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import BackupVehicleViewToolbar from '@/modules/backup-vehicle/components/backup-vehicle-view-toolbar.vue';
import { BackupVehicleModel } from '@/modules/backup-vehicle/backup-vehicle-model';

const { fields } = BackupVehicleModel;

import Vue from 'vue';

export default Vue.extend({
  name: 'app-backup-vehicle-view-page',

  props: ['id'],

  components: {
    'app-backup-vehicle-view-toolbar': BackupVehicleViewToolbar,
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
      record: 'backupVehicle/view/record',
      loading: 'backupVehicle/view/loading',
    }),

    fields() {
      return fields;
    },
  },

  async created() {
    await this.doFind(this.id);
  },

  methods: {
    ...mapActions({
      doFind: 'backupVehicle/view/doFind',
    }),

    presenter(record, fieldName) {
      return BackupVehicleModel.presenter(record, fieldName);
    },
  },
});
</script>
