<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="dashboard.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.backupVehicle.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n
          code="entities.backupVehicle.list.title"
        ></app-i18n>
      </h1>

      <app-backup-vehicle-list-toolbar></app-backup-vehicle-list-toolbar>
      <app-backup-vehicle-list-filter></app-backup-vehicle-list-filter>
      <app-backup-vehicle-list-table></app-backup-vehicle-list-table>
    </div>
  </div>
</template>

<script lang="ts">
import BackupVehicleListFilter from '@/modules/backup-vehicle/components/backup-vehicle-list-filter.vue';
import BackupVehicleListTable from '@/modules/backup-vehicle/components/backup-vehicle-list-table.vue';
import BackupVehicleListToolbar from '@/modules/backup-vehicle/components/backup-vehicle-list-toolbar.vue';

import Vue from 'vue';
export default Vue.extend({
  name: 'app-backup-vehicle-list-page',

  components: {
    'app-backup-vehicle-list-filter': BackupVehicleListFilter,
    'app-backup-vehicle-list-table': BackupVehicleListTable,
    'app-backup-vehicle-list-toolbar': BackupVehicleListToolbar,
  },
});
</script>

<style></style>
