<template>
  <el-form
    :label-position="labelPosition"
    :label-width="labelWidthFilter"
    :model="model"
    :rules="rules"
    @submit.native.prevent="doFilter"
    class="filter"
    ref="form" 
  >
    <el-row type="flex">
      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.currentVehicleName.label" :prop="fields.currentVehicleName.name">
          <app-autocomplete-one-input
            :fetchFn="fields.currentVehicleName.fetchFn"
            v-model="model[fields.currentVehicleName.name]"
          ></app-autocomplete-one-input>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.newVehicle.label" :prop="fields.newVehicle.name">
          <app-autocomplete-one-input
            :fetchFn="fields.newVehicle.fetchFn"
            v-model="model[fields.newVehicle.name]"
          ></app-autocomplete-one-input>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.dateBackupStartRange.label" :prop="fields.dateBackupStartRange.name">
          <el-date-picker type="datetimerange" v-model="model[fields.dateBackupStartRange.name]"></el-date-picker>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.dateBackupEndRange.label" :prop="fields.dateBackupEndRange.name">
          <el-date-picker type="datetimerange" v-model="model[fields.dateBackupEndRange.name]"></el-date-picker>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.route.label" :prop="fields.route.name">
          <el-select placeholder v-model="model[fields.route.name]">
            <el-option :value="undefined">--</el-option>
            <el-option
              :key="option.id"
              :label="option.label"
              :value="option.id"
              v-for="option in fields.route.options"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>

      <el-col :lg="12" :md="16" :sm="24">
        <el-form-item :label="fields.scheme.label" :prop="fields.scheme.name">
          <el-select placeholder v-model="model[fields.scheme.name]">
            <el-option :value="undefined">--</el-option>
            <el-option
              :key="option.id"
              :label="option.label"
              :value="option.id"
              v-for="option in fields.scheme.options"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <div class="filter-buttons">
      <el-button
        :disabled="loading"
        @click="doFilter"
        icon="el-icon-fa-search"
        type="primary"
      >
        <app-i18n code="common.search"></app-i18n>
      </el-button>

      <el-button
        :disabled="loading"
        @click="doResetFilter"
        icon="el-icon-fa-undo"
      >
        <app-i18n code="common.reset"></app-i18n>
      </el-button>
    </div>
  </el-form>
</template>

<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import { FilterSchema } from '@/shared/form/filter-schema';
import { BackupVehicleModel } from '@/modules/backup-vehicle/backup-vehicle-model';

const { fields } = BackupVehicleModel;

const filterSchema = new FilterSchema([
  fields.currentVehicleName,
  fields.newVehicle,
  fields.dateBackupStartRange,
  fields.dateBackupEndRange,
  fields.route,
  fields.scheme,
]);

import Vue from 'vue';
export default Vue.extend({
  name: 'app-backup-vehicle-list-filter',

  data() {
    return {
      rules: filterSchema.rules(),
      model: {},
    };
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthFilter: 'layout/labelWidthFilter',
      loading: 'backupVehicle/list/loading',
      filter: 'backupVehicle/list/filter',
    }),

    fields() {
      return fields;
    },
  },

  async mounted() {
    this.model = filterSchema.initialValues(
      this.filter,
      this.$route.query,
    );

    return this.doFilter();
  },

  methods: {
    ...mapActions({
      doReset: 'backupVehicle/list/doReset',
      doFetch: 'backupVehicle/list/doFetch',
    }),

    async doResetFilter() {
      this.model = filterSchema.initialValues();
      this.$refs.form.clearValidate();
      return this.doReset();
    },

    async doFilter() {
      try {
        await this.$refs.form.validate();
        this.$refs.form.clearValidate();
      } catch (error) {
        return;
      }

      const filter = filterSchema.cast(this.model);
      return this.doFetch({
        filter,
      });
    },
  },
});
</script>

<style></style>