<template>
  <div>
    <el-table
      :border="true"
      :data="rows"
      @sort-change="doChangeSort"
      ref="table"
      row-key="id"
      v-loading="loading"
    >
      <el-table-column
        type="selection"
        width="55"
      ></el-table-column>

      <el-table-column :label="fields.currentVehicleName.label" :prop="fields.currentVehicleName.name">
        <template slot-scope="scope">
          <app-list-item-relation-to-one
            :label="fields.currentVehicleName.label"
            :permission="fields.currentVehicleName.readPermission"
            :url="fields.currentVehicleName.viewUrl"
            :value="presenter(scope.row, 'currentVehicleName')"
          ></app-list-item-relation-to-one>
        </template>
      </el-table-column>

      <el-table-column :label="fields.newVehicle.label" :prop="fields.newVehicle.name">
        <template slot-scope="scope">
          <app-list-item-relation-to-one
            :label="fields.newVehicle.label"
            :permission="fields.newVehicle.readPermission"
            :url="fields.newVehicle.viewUrl"
            :value="presenter(scope.row, 'newVehicle')"
          ></app-list-item-relation-to-one>
        </template>
      </el-table-column>

      <el-table-column
        :label="fields.dateBackupStart.label"
        :prop="fields.dateBackupStart.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'dateBackupStart') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.dateBackupEnd.label"
        :prop="fields.dateBackupEnd.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'dateBackupEnd') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.route.label"
        :prop="fields.route.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'route') }}</template>
      </el-table-column>

      <el-table-column
        :label="fields.scheme.label"
        :prop="fields.scheme.name"
        sortable="custom"
      >
        <template slot-scope="scope">{{ presenter(scope.row, 'scheme') }}</template>
      </el-table-column>

      <el-table-column
        :fixed="isMobile ? undefined : 'right'"
        align="center"
        width="180"
      >
        <template slot-scope="scope">
          <div class="table-actions">
            <router-link :to="`/backup-vehicle/${scope.row.id}`">
              <el-button type="text">
                <app-i18n code="common.view"></app-i18n>
              </el-button>
            </router-link>

            <router-link
              :to="`/backup-vehicle/${scope.row.id}/edit`"
              v-if="hasPermissionToEdit"
            >
              <el-button type="text">
                <app-i18n code="common.edit"></app-i18n>
              </el-button>
            </router-link>

            <el-button
              :disabled="destroyLoading"
              @click="doDestroyWithConfirm(scope.row.id)"
              type="text"
              v-if="hasPermissionToDestroy"
            >
              <app-i18n code="common.destroy"></app-i18n>
            </el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <div class="el-pagination-wrapper">
      <el-pagination
        :current-page="pagination.currentPage || 1"
        :disabled="loading"
        :layout="paginationLayout"
        :total="count"
        @current-change="doChangePaginationCurrentPage"
        @size-change="doChangePaginationPageSize"
      ></el-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import { BackupVehicleModel } from '@/modules/backup-vehicle/backup-vehicle-model';
import { mapGetters, mapActions } from 'vuex';
import { BackupVehiclePermissions } from '@/modules/backup-vehicle/backup-vehicle-permissions';
import { i18n } from '@/i18n';

const { fields } = BackupVehicleModel;

import Vue from 'vue';
export default Vue.extend({
  name: 'app-backup-vehicle-list-table',

  mounted() {
    this.doMountTable(this.$refs.table);
  },

  computed: {
    ...mapGetters({
      rows: 'backupVehicle/list/rows',
      count: 'backupVehicle/list/count',
      loading: 'backupVehicle/list/loading',
      pagination: 'backupVehicle/list/pagination',
      isMobile: 'layout/isMobile',
      currentUser: 'auth/currentUser',
      currentTenant: 'auth/currentTenant',
      destroyLoading: 'backupVehicle/destroy/loading',
      paginationLayout: 'layout/paginationLayout',
    }),

    hasPermissionToEdit() {
      return new BackupVehiclePermissions(
        this.currentTenant,
        this.currentUser,
      ).edit;
    },

    hasPermissionToDestroy() {
      return new BackupVehiclePermissions(
        this.currentTenant,
        this.currentUser,
      ).destroy;
    },

    fields() {
      return fields;
    },
  },

  methods: {
    ...mapActions({
      doChangeSort: 'backupVehicle/list/doChangeSort',
      doChangePaginationCurrentPage:
        'backupVehicle/list/doChangePaginationCurrentPage',
      doChangePaginationPageSize:
        'backupVehicle/list/doChangePaginationPageSize',
      doMountTable: 'backupVehicle/list/doMountTable',
      doDestroy: 'backupVehicle/destroy/doDestroy',
    }),

    presenter(row, fieldName) {
      return BackupVehicleModel.presenter(row, fieldName);
    },

    async doDestroyWithConfirm(id) {
      try {
        await this.$confirm(
          i18n('common.areYouSure'),
          i18n('common.confirm'),
          {
            confirmButtonText: i18n('common.yes'),
            cancelButtonText: i18n('common.no'),
            type: 'warning',
          },
        );

        return this.doDestroy(id);
      } catch (error) {
        // no
      }
    },
  },
});
</script>

<style></style>
