<template>
  <div>
    <el-form
      :label-position="labelPosition"
      :label-width="labelWidthForm"
      :model="model"
      :rules="rules"
      @submit.native.prevent="doSubmit"
      class="form"
      ref="form"
      v-if="model"
    >
      <el-form-item
        :label="fields.currentVehicleName.label"
        :prop="fields.currentVehicleName.name"
        :required="fields.currentVehicleName.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <app-vehicle-registration-autocomplete-input
            :fetchFn="fields.currentVehicleName.fetchFn"
            :mapperFn="fields.currentVehicleName.mapperFn"
            :showCreate="!modal"
            v-model="model[fields.currentVehicleName.name]"
            mode="single"
          ></app-vehicle-registration-autocomplete-input>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.newVehicle.label"
        :prop="fields.newVehicle.name"
        :required="fields.newVehicle.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <app-vehicle-registration-autocomplete-input
            :fetchFn="fields.newVehicle.fetchFn"
            :mapperFn="fields.newVehicle.mapperFn"
            :showCreate="!modal"
            v-model="model[fields.newVehicle.name]"
            mode="single"
          ></app-vehicle-registration-autocomplete-input>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.dateBackupStart.label"
        :prop="fields.dateBackupStart.name"
        :required="fields.dateBackupStart.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-date-picker placeholder type="datetime" v-model="model[fields.dateBackupStart.name]"></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.dateBackupEnd.label"
        :prop="fields.dateBackupEnd.name"
        :required="fields.dateBackupEnd.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-date-picker placeholder type="datetime" v-model="model[fields.dateBackupEnd.name]"></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.route.label"
        :prop="fields.route.name"
        :required="fields.route.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-select placeholder v-model="model[fields.route.name]">
            <el-option :value="undefined">--</el-option>
            <el-option
              :key="option.id"
              :label="option.label"
              :value="option.id"
              v-for="option in fields.route.options"
            ></el-option>
          </el-select>
        </el-col>
      </el-form-item>

      <el-form-item
        :label="fields.scheme.label"
        :prop="fields.scheme.name"
        :required="fields.scheme.required"
      >
        <el-col :lg="11" :md="16" :sm="24">
          <el-select placeholder v-model="model[fields.scheme.name]">
            <el-option :value="undefined">--</el-option>
            <el-option
              :key="option.id"
              :label="option.label"
              :value="option.id"
              v-for="option in fields.scheme.options"
            ></el-option>
          </el-select>
        </el-col>
      </el-form-item>

      <el-form-item>
        <div class="form-buttons">
          <el-button
            :disabled="saveLoading"
            @click="doSubmit"
            icon="el-icon-fa-floppy-o"
            type="primary"
          >
            <app-i18n code="common.save"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doReset"
            icon="el-icon-fa-undo"
          >
            <app-i18n code="common.reset"></app-i18n>
          </el-button>

          <el-button
            :disabled="saveLoading"
            @click="doCancel"
            icon="el-icon-fa-close"
          >
            <app-i18n code="common.cancel"></app-i18n>
          </el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';
import { FormSchema } from '@/shared/form/form-schema';
import { BackupVehicleModel } from '@/modules/backup-vehicle/backup-vehicle-model';

const { fields } = BackupVehicleModel;
const formSchema = new FormSchema([
  fields.currentVehicleName,
  fields.newVehicle,
  fields.dateBackupStart,
  fields.dateBackupEnd,
  fields.route,
  fields.scheme,
]);

import Vue from 'vue';
export default Vue.extend({
  name: 'app-backup-vehicle-form',

  props: ['isEditing', 'record', 'saveLoading', 'modal'],

  data() {
    return {
      rules: formSchema.rules(),
      model: null,
    };
  },

  created() {
    this.model = formSchema.initialValues(
      this.record || {},
    );
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
    }),

    fields() {
      return fields;
    },
  },

  methods: {
    doReset() {
      this.model = formSchema.initialValues(this.record);
    },

    doCancel() {
      this.$emit('cancel');
    },

    async doSubmit() {
      try {
        await this.$refs.form.validate();
      } catch (error) {
        return;
      }

      return this.$emit('submit', {
        id: this.record && this.record.id,
        values: formSchema.cast(this.model),
      });
    },
  },
});
</script>

<style></style>
